$robotify-green: #1db954;
$highlight-green: #1ed760;

$demo-button-blue: rgb(61, 91, 150);
$demo-button-highlight: rgb(59, 97, 174);

$sign-up-button: #616467;

$main-background: rgb(24, 24, 24);
$darker-background: rgb(18, 18, 18);
$lighter-background: rgb(40, 40, 40);

$sidebar-text: rgb(179, 179, 179);

$errors: red;

$div-border: #dfe0e6;
$white: white;
$gray: gray;
$light-gray: lightgray;



