.album-header {
  position: relative;
  display: flex;
  background: $main-background;
  color: $white;
  font-family: $sans-serif;

  .buttons {
    display: flex;
    margin-top: 20px;

    .play-button {
      margin-right: 15px;
    }

    img {
      margin-right: 15px;
      transition-duration: 0.2;
    }

    img:hover {
      transform: scale(1.1);
      transition-duration: 0.2;
      border: 1px solid white;
    }
  }
  
  .liked {
    border: 1px solid red;
    border-radius: 50%;
    padding: 10px;
  }

  .unliked {
    border: 1px solid gray;
    border-radius: 50%;
    padding: 10px;
  }
}

.ah-meta-data {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.ah-album-cover {
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.ah-album-tag {
  font-style: italic;
}

.ah-album-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  overflow: hidden;
}

.ah-artist-link {
  margin-left: 5px;
}

.ah-artist-link:hover {
  text-decoration: underline;
}