.artist-show {
  background: $main-background;
  color: $white;

  .arti-profile-img {
    margin-left: 80px;
  }
}

.as-artist-name {
  font-size: 50px;
  font-family: $sans-serif;
  font-weight: bolder;
  margin-left: 80px;
  margin-bottom: 20px;
}

.section-title {
  font-family: $sans-serif;
  font-size: 30px; 
  font-weight: 700;
  margin: 20px;
  margin-left: 80px;
}