.browse {
  color: $white;
  font-family: $sans-serif;

  .browse-header {
    font-size: 42px; 
    font-weight: 700;
    margin: 20px;
    margin-left: 40px;
    margin-bottom: 25px;
  }

  .browse-main {
    // margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin: 0px auto;
  }

  .browse-content {
    margin: 0px auto;
  }

}
