.explore {
  color: $white;
  font-family: $sans-serif;

  .explore-header { 
    font-size: 20px; 
    font-weight: 700;
    margin-top: 20px;
    margin-left: 40px;
  }

  .explore-music-container { 
    margin-left: 20px;
  }
}