.explore {
  color: $white;
  font-family: $sans-serif;

  .explore-header { 
    // font-size: 20px; 
    // margin-top: 20px;
    // margin-left: 40px;
    font-size: 2vw;
    margin: 1.5% 0;
    // margin-left: 3.5%;
    text-align: center;
    font-weight: 700;
  }

  // .explore-music-container { 
  //   // margin-left: 20px;
  // }
}


@media screen and (max-width: 1200px) {
  .explore .explore-header {
    font-size: 20px;
    margin-top: 20px;
    // margin-left: 40px;
  }
}