.library-artists {
  display: flex;
  flex-direction: column;
  background: $main-background;
  color: $white;
  font-family: $sans-serif;
}

.artists-header {
  font-size: 2.2vw; 
  font-weight: 700;
  margin: 20px;
  text-align: center;
}

@media screen and (max-width: 2200px) {
  .artists-header {
    font-size: 40px;
    margin: 20px 0;
  }
}