.library-songs {
  display: flex;
  flex-direction: column;
  width: 85vw;
  // width: 100%; 
  margin: 0 auto;
  background: $main-background;
  color: $white;
  $font-family: $sans-serif;

  .play-button {
    // margin-left: 80px;
    margin-left: 6%;
    margin-bottom: 25px;
  }
}

.songs-header {
  font-size: 2.2vw; 
  font-weight: 700;
  font-family: $sans-serif;
  margin: 20px;
  margin-left: 6%;
  // margin-left: 80px;
}

@media screen and (max-width: 2000px) {
  .songs-header {
    font-size: 42px;
  }
}