.library-songs {
  display: flex;
  flex-direction: column;
  width: 85vw;
  // width: 100%;  not sure if there is a difference 
  background: $main-background;
  color: $white;
  $font-family: $sans-serif;

  .play-button {
    margin-left: 80px;
    margin-bottom: 25px;
  }
}

.songs-header {
  font-size: 42px; 
  font-weight: 700;
  font-family: $sans-serif;
  margin: 20px;
  margin-left: 80px;
}