// .sidebar {
//   height:89vh;
//   width: 15vw;
//   min-width: 192px;
//   background: $darker-background;
//   float: left;
//   color: $white;
//   font-family: $sans-serif;
// }

.navbar {
  position: sticky;
  top: 0;
  height: 7vh;
  background: $lighter-background;
}

.playbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 11vh;
  background: $lighter-background;
}

.main-content {
  // float: right;
  overflow: scroll;
  height: 89vh;
  background: $main-background;
  padding-bottom: 100px;
}