// .main { 
//   // height: 100vh;
//   width: 100vw;
// }

//you can scroll vertically but not horizontally
.main-content {
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%;
  height: 89vh;
  background: $main-background;
}

@media screen and (max-width: 1200px) {
  .main-content {
    padding-bottom: 150px;
  }
}

