
.playbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 11vh;
  background: $lighter-background;
}

.main-content {
  // float: right;
  overflow: scroll;
  height: 89vh;
  background: $main-background;
  padding-bottom: 100px;
}