.menu-button-container {
  position: relative;
  display: inline-block;
}

.menu-button {
  padding: 0;
  width: 20px;
  border: 0;
  background: $main-background;
  color: $white;
  cursor: pointer;
  outline: 0;
  font-size: 20px;
}

.dropdown-menu {
  position: absolute;
  top: -20%;
  // right: 102%;
  left: 102%;
  width: 150px;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.719);
  background: $lighter-background;
  color: $white;
  margin-bottom: 50px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px 5px;
    }

    li:hover {
      background: $darker-background;
    }

    .playlist-dropdown {
      position: absolute;
      top: 50%;
      right: 100%;
      width: 150px;
      z-index: 2;
      border-radius: 5px;
      // border: 1px solid $div-border;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.719);
      background: $lighter-background;
      margin-bottom: 50px;

      .green {
        color: $robotify-green;
      }
    }
  }
}

.song-dropdown {
  ul {
    line-height: normal;
    padding: 0;
    margin: 0;

    li {
      padding: 10px 5px;
    }
  }
}