.music-player {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100vw;
  height: 11vh;
  background: $lighter-background;
  color: $white;
  font-family: $sans-serif;
  font-weight: 500;

  .mp-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .control-buttons {
    display: flex;
    justify-content: space-around;
  }

  .song-display {
    display: flex;
  }

  .song-info {
    display: flex;
    flex-direction: column;
  }

  .current-song-img {
    margin: 10px;
  }

  .song-info {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 15px;
  }

  .song-info a:hover { 
    text-decoration: underline;
  }

  .mp-song-title {
    font-weight: 300;
    margin-bottom: 5px;
  }

  .mp-artist-name {
    color: $gray;
    font-size: 13px;
  }

  .volume-control {
    margin-top: 5.5vh;
    margin-right: 10px;
  }

}