.navbar {
  position: sticky;
  overflow: auto;
  top: 0;
  height: 7vh;
  background: $lighter-background;
}

.search-bar {
  background: $white;
  margin: 10px;
  height: 20px;
  line-height: 7vh;
  padding: 12px 10px;
  border-radius: 20px;
  font-family: $sans-serif;
}