.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  overflow: visible;
  z-index: 100;
  top: 0;
  height: 50px;
  background: $lighter-background;

  .navbar-menu-container {
    margin: auto 20px;
  } 

  .mobile-hamburger-menu {
    display: none;
  }

  .mobile-menu-and-search {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .navbar-menu {
    position: absolute;
    background: $lighter-background;
    z-index: 5;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.719);
    color: $sidebar-text;
    font-family: $sans-serif;
    font-weight: 300;
    width: 10vw;
    min-width: 70px;
    top: 40px;
    right: 10px;

    .navbar-menu-item {
      padding: 8px;
      font-size: 1.5vw;
      cursor: pointer;
    }

    .navbar-menu-item:hover {
      color: $white;
      background: $darker-background;
    }
  }
}

.search-bar {
  background: $white;
  margin: auto 8px;
  height: 25px;
  padding: 12px 10px;
  border-radius: 20px;
  font-family: $sans-serif;
}

@media screen and (max-width: 1000px) {
  .navbar .navbar-menu .navbar-menu-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .mobile-hamburger-menu {
      display: block;
      width: 30px;
      height: 30px;
    }
  }
}

