.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  overflow: visible;
  z-index: 100;
  top: 0;
  // height: 7vh;
  // height: 7%;
  height: 50px;
  // min-height: 35px;
  background: $lighter-background;

  .navbar-menu-container {
    // line-height: 7vh;
    // margin-top: 2px;
    // margin-right: 20px;
    margin: auto 20px;
  } 

  .navbar-menu {
    position: absolute;
    background: $lighter-background;
    z-index: 5;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.719);
    color: $sidebar-text;
    font-family: $sans-serif;
    font-weight: 300;
    width: 150px;
    top: 40px;
    right: 10px;
    height: 100px;
    height: auto;

    .navbar-menu-item {
      padding: 10px;
      font-size: 14px;
      cursor: pointer;
    }

    .navbar-menu-item:hover {
      color: $white;
      background: $darker-background;
    }
  }
}

.search-bar {
  background: $white;
  // margin: 5px;
  // margin: 0.4%;
  margin: auto 8px;
  // height: 20px;
  // height: 70%;
  height: 25px;
  // line-height: 7vh;
  // line-height: 100%;
  padding: 12px 10px;
  border-radius: 20px;
  font-family: $sans-serif;
}

