.playlist-header {
  position: relative;
  display: flex;
  background: $main-background;
  color: rgb(170, 168, 168);
  font-size: 14px;
  font-family: $sans-serif;
  font-weight: 300;

  .buttons {
    display: flex;
    margin-top: 20px;

    .play-button {
      margin-right: 15px;
    }

    img {
      margin-right: 15px;
      transition-duration: 0.2;
      opacity: 0.7;
    }

    img:hover {
      transform: scale(1.1);
      transition-duration: 0.2;
      opacity: 1;
    }
  }
}

.ph-other-info {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.ph-playlist-cover {
  position: relative;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ph-description {
  margin-bottom: 13px;
}

.ph-playlist-tag {
  letter-spacing: 1.5px;
}

.ph-user-link {
  color: $white;
}

.ph-playlist-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  color: $white;
  overflow: hidden;
}

// .ps-song-index {
//   padding-bottom: 250px;
// }