.playlist-header {
  position: relative;
  display: flex;
  background: $main-background;
  color: $white;
  font-family: $sans-serif;
}

.ph-other-info {
  display: flex;
  flex-direction: column;
  margin-top: 4%;

  .play-button {
    margin-left: 0px;
    margin-top: 20px;
  }
}

.ph-playlist-cover {
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.ph-playlist-tag {
  // position: absolute;
  // top: 10%;
  // left: 22%;
  font-style: italic;
}

.ph-playlist-title {
  // position: absolute;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  // top: 20%;
  // left: 22%;
}
// .ph-other-info {
//   // position: absolute;
//   // top: 70%;
//   // left: 22%;
// }