@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      // height: 6px;
      height: 9%;
      border-radius: 20px;
      -webkit-appearance: none;
      background-color: $progress-bar;
    }

    input[type='range'].progress-bar {
      width: 500px;
    }

    input[type='range'].volume-slider {
      width: 35%;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      // height: 6px;
      height: 100%;
      -webkit-appearance: none;
      color: $robotify-green;
      // margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      //width and height changed from 1.0 to 1.1 in update
      width: fit-content;
      // height: 1.1vh;
      // width: 1.1%;
      // height: auto;
      background: $white;
      border-radius: 50%;
      box-shadow: -1003px 0 0 1000px $robotify-green;
    }

    input[type='range'].volume-slider::-webkit-slider-thumb {
      width: 1.0vh;
      height: 1.0vh;
    }
}

@media  not all and (min-resolution:.001dpcm) {
  
  // input.volume-slider {
  //   height: 1.1vh;
  // }

  input[type='range'].volume-slider::-webkit-slider-thumb {
    box-shadow: -1000px 0 0 1000px $robotify-green;
    width: fit-content;
  }
}



