 .robotify-header {
   font-weight: 700;
   font-size: 50px;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   padding: 15px;
   border-bottom: 1px solid $light-gray;
 }

 .robotify-header-logo {
   width: fit-content;
 }
