 .robotify-header {
   font-weight: 700;
   font-size: 50px;
  //  font-family: 'Roboto', sans-serif;
  font-family: 'Teko', sans-serif;
  //  text-align: center;
   padding: 15px;
   border-bottom: 1px solid $light-gray;
 }

 .robotify-header-logo {
   display: flex;
   width: fit-content;
   margin: 0px auto;
 }

 .robotify-header-text {
   margin-top: 20px;
   margin-left: 10px;
 }
