.search-results {
  color: $white;
  font-family: $sans-serif;
  font-weight: 500;

  h1 {
    display: none;
    font-size: 2vw;
    margin: 20px auto;
  }

  .search-category-header {
    margin: 20px 0;
    font-size: 1.5vw; 
    text-align: center;
  }
}

@media screen and (max-width: 1800px) {
  .search-results {
    h1 {
      font-size: 50px;
    }

    .search-category-header {
      font-size: 30px;
    }
  }
}