.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 89vh;
  width: 15vw;
  min-width: 192px;
  background: $darker-background;
  float: left;
  color: $white;
  font-family: $sans-serif;
  font-weight: 500;
  font-size: 18px;
  // font-size: 1.4vw;


  button {
    margin: 0px auto;
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  // margin-top: 20px;
  margin-top: 15%;
  // margin-bottom: 20px;
}

.sidebar-link {
  display: flex;
  // font-size: 16px;
  // font-size: 1000%;
  width: 100%;
  padding: 0px 10px;
  // margin: 5px;
  // margin: 3% 5px;
  margin: 3% 10%;
  opacity: 0.7;
  border-left: 3px solid transparent;

  img {
    width: 17px;
    height: 17px;
  }
}

.sidebar-playlist-link {
  font-size: 14px;
  font-weight: 400;
  // font-size: 1.15vw;
}

.sidebar-link-text {
  // font-size: 18px;
  margin-left: 10px;
}

.sidebar-link:hover {
  opacity: 1;
}

.sidebar-library {
  display: flex;
  flex-direction: column;
  // margin-top: 40px;
  margin-top: 30%;
}

.sidebar-playlists-container {
  // margin-top: 40px;
  margin-top: 30%;
}

.sidebar-playlists {
  display: flex;
  flex-direction: column;
}

.sidebar-scrollable {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow: scroll;
  padding-bottom: 40px;
}

.sidebar-section-text {
  font-size: 14px;
  // font-size: 1.1vw;
  font-weight: normal;
  letter-spacing: 2px;
  color: $gray-text;
  margin-left: 15px;
}

.new-playlist-button-container {
  padding: 10px 0px;
  // margin-bottom: 5px;
  margin-top: auto;
  border-top: 1px solid $gray;
}

.new-playlist-button {
  display: flex;
  opacity: 0.7;
  text-align: center;
  cursor: pointer;
  margin-left: 25px;

  .new-playlist-button-text {
    margin-left: 5px;
  }
}

.new-playlist-button:hover {
  opacity: 1;
}

.active {
  border-left: 3px solid $robotify-green;
  opacity: 1;
}

.radio-button {
  cursor: pointer;
}

// @media screen and (max-width: 1000px) {
//   .sidebar {
//     display: none !important;
//   }
// }

// @media screen and (max-width: 1000px) {
//   .music-player .song-display {
//     display: none;
//   }

//   .music-player .volume-control {
//     display: none;
//   }
// }
