//shares some styles with the login form 

.signup {
  font-family: $sans-serif;
  border-top: 1px solid $light-gray;
}

.signup-form {
  width: 430px;
  margin: 0px auto;
  position: relative;
}

.demo-button {
  text-align: center;
  text-transform: uppercase;
  width: 320px;
  height: 48px;
  background: $demo-button-blue;
  color: $white;
  border-radius: 50px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  letter-spacing: 1px;
  transition-duration: 0.3s;
}
.demo-button:hover {
  background: $demo-button-highlight;
  transition-duration: 0.3s;
}

.signup-prompt {
  text-align: center;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.session-button {
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  background: $robotify-green;
  color: $white;
  width: 320px;
  height: 48px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  transition-duration: 0.3s;
}
.session-button:hover {
  background: $highlight-green;
  transition-duration: 0.3s;
}

.date-of-birth-header {
  font-size: 15px;
  color: $gray;
  font-weight: 500;
  margin-top: 5px;
}

.date-of-birth {
  display: flex;
  justify-content: space-between;
}

.month {
  background: $white;
  border: 1px solid $div-border;
  height: 48px;
  width: 192px;
  padding: 10px;
  color: $gray;
  font-size: 14px;
  font-weight: 700px;
}

.day {
  width: 100px;
  border: 1px solid $div-border;
  border-radius: 2px;
  margin-left: 20px;
  border-radius: 2px;
  padding-left: 12px;
}

.year {
  width: 100px;
  border: 1px solid $div-border;
  border-radius: 2px;
  margin-left: 20px;
  border-radius: 2px;
  padding-left: 12px;
}

.radio-buttons {
  display: flex; 
  justify-content: left;
  input {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    width: 20px;
    display: inline-block;
  }
}

.radio-text {
  color: $gray; 
  font-weight: 500px;
  margin-right: 15px;
  margin-left: 5px;
}

.login-instead {
  text-align: center;
  margin: 0px auto;
  font-size: 15px;
  font-weight: 500;
}

.login-link {
  font-weight: 500;
  color: $robotify-green;
  transition: 0.3s;
}

.login-link:hover {
  opacity: 0.7;
  transition-duration: 0.3s;
}
