.song-index-item {
  display: flex;
  justify-content: right;
  color: $white;
  background: $main-background;
  width: 90%;
  // width: 1000px;
  height: 40px;
  font-family: $sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0px auto;
  line-height: 40px;
  border-top: 1px solid $lighter-background;

  .sii-play-button-container {
    // width: 7%;
    width: 4%;
    min-width: 50px;
    // min-width: 30px;
    margin-right: 1px;
  }

  .sii-like-container {
    width: 5%;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sii-play {
    margin: 4.5px 10px;
    // min-width: 50%;
    // height: auto;
  }

  .mobile-play {
    display: none;
  }

  .sii-play:hover {
    transform: scale(1.1);
  }

}

.playing {
  color: $robotify-green;
}

.song-index-item:last-of-type {
  border-bottom: 1px solid $lighter-background;
}

.song-index-item:hover {
  background: $lighter-background;
}

.sii-link:hover {
  text-decoration: underline;
}

.sii-song-title {
  width: 40%;
  // margin-left: 40px;
  overflow: hidden;
}

.sii-artist-name {
  width: 25%;
  // margin-left: 55px;
  overflow: hidden;
}

.sii-album-title {
  width: 20%;
  overflow: hidden;
}

.sii-menu-button-container {
  width: 5%;
  height: 100%;
}

.sii-runtime {
  width: 10%;
  text-align: left;
  overflow: hidden;
}


@media screen and (max-width: 1024px) {
  .song-index-item {
    .sii-play-button-container {
      .sii-play {
        display: none;
      }

      .mobile-play {
        display: block;
        margin-top: 12px;
        width: 15px;
        height: 15px;
      }
    }
  }
}


@media screen and (max-width: 500px) {
  .song-index-item {

    .sii-like-container {
      display: none;
    }

    .sii-play { 
      display: none;
    }

    .sii-album-title {
      display: none;
    }

    .sii-menu-button-container {
      display: none;
    }

    .sii-runtime {
      display: none;
    }

    .sii-song-title {
      width: 100%;
    }

    .sii-artist-name {
      display: none;
    }

  }
}
