.song-index {
  padding-bottom: 150px;
}

.song-index-header { 
  display: flex;
  width: 90%;
  height: 20px;
  margin: 0px auto;
  line-height: 20px;
  color: $sidebar-text;
  font-size: 14px;
  font-family: $sans-serif;
  font-weight: 300;
  margin-bottom: 3px;

  .si-padding {
    width: 10%;
    height: 20px;
  }

  .si-title-header {
    width: 36.5%;
    height: 20px;
  }

  .si-artist-header {
    width: 22%;
    height: 20px;
  }

  .si-album-header { 
    width: 23%;
    height: 20px;
  }

  .si-runtime-header {
    height: 20px;

    .si-runtime-clock {
      position: relative;
      top: 2px;
    }
  }

}

