.song-index-item {
  display: flex;
  justify-content: right;
  color: $white;
  background: $main-background;
  // width: 90%;
  width: 1000px;
  height: 40px;
  font-family: $sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0px auto;
  line-height: 40px;
  border-top: 1px solid $lighter-background;

  .sii-play-button-container {
    width: 70px;
  }

  .sii-like-container {
    width: 50px;
  }

  .sii-play {
    margin: 4.5px 10px;
  }

  .sii-play:hover {
    transform: scale(1.1);
  }

}

.playing {
  color: $robotify-green;
}

.song-index-item:last-of-type {
  border-bottom: 1px solid $lighter-background;
}

.song-index-item:hover {
  background: $lighter-background;
}

.sii-link:hover {
  text-decoration: underline;
}

.sii-song-title {
  // width: 40%;
  width: 400px;
  // margin-left: 40px;
  overflow: hidden;
}

.sii-artist-name {
  // width: 20%;
  width: 250px;
  margin-left: 55px;
  overflow: hidden;
}

.sii-album-title {
  // width: 30%;
  width: 200px;
  overflow: hidden;
}

.sii-menu-button-container {
  width: 50px;
  height: 100%;
}

.sii-runtime {
  // width: 10%;
  width: 100px;
  text-align: left;
  overflow: hidden;
}

// .sii-heart {
//   position: absolute;
//   z-index: 1;
//   overflow: hidden;
// }