html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, p, form,
fieldset, label, input, select, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: border-box;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

body {
  padding-bottom: 70px;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button, input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}